## Environment Variables
.env 

## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
sqlite-autoconf-3340100
sqlite-autoconf-3340100.tar.gz

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/
.vscode/

# Click-Once directory
publish/
