@page "/account"


            <div class="col-12">
                <AccountDataCard />
            </div>
            
            <div class="col-12">
                <AccountTools />
            </div>


        @code {

        }
