@page "/catalog"
@using PBC.Shared


<div class="col-12">
    <h3>Catalog</h3>
</div>

<div class="row">
    <div class="col-12">
        <CreateRecipe />
    </div>
</div>
<div class="row">
    <CatalogTable />
</div>
@code {

}