@page "/cookbook"
@attribute [Authorize]


<div class="col-12">
    <h3>Cookbook</h3>


    <div class="row">
        <div class="col-12">
            <CreateRecipe />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <CookbookTable />
        </div>
    </div>
</div>
@code {

}