@page "/cookbook"
@attribute [Authorize]
<head>
    <title>Cookbook | RecipeBot</title>
</head>

<div class="cookbook-container">
    <div class="create-recipe-container">
            <CreateRecipe />
    </div>
    <div class="cookbook-table-container">
            <CookbookTable />
    </div>
</div>
@code {

}