@page "/cookbook"
@using PBC.Shared


<div class="col-12">
    <h3>Catalog</h3>


    <div class="row">
        <div class="col-12">
            <CreateRecipe />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Table />
        </div>
    </div>
</div>
@code {

}