@page "/cookbook"
@attribute [Authorize]
<head>
    <title>Cookbook | RecipeBot</title>
</head>

<div class="col-12 cookbook-container">
    <h3>Cookbook</h3>
    <div class="create-recipe-container">
            <CreateRecipe />
    </div>
    <div class="cookbook-table-container">
            <CookbookTable />
    </div>
</div>
@code {

}