@page "/"
@attribute [Authorize]
<head>
    <title>Home | RecipeBot</title>
</head>

<div class="searchbar__container">
    <div class="searchbar">
            <SearchBar />
    </div>
</div>

@code {
}

