@page "/lists"
@attribute [Authorize]
<head>
    <title>Lists | RecipeBot</title>
</head>
<div class="col-12">
    <h3>Lists</h3>
    <div class="row">
        <div class="col-12">
            <ListGenerator />
        </div>
    </div>
</div>

@code {

}