@page "/lists"
@attribute [Authorize]
<head>
    <title>Lists | RecipeBot</title>
</head>

<div class="list__container">
    <div class="list">
    <h3>Lists</h3>
    <p>Generate a random list of recipes. Use the Days +/- buttons to add days to your meal plan.</p>
            <ListGenerator />
    </div>
</div>

@code {

}