@page "/login"
@inject IAccountLoginDTO Model
@inject ILazor Lazor
@inject HttpClient Http;

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="@Model">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="Model.Email" class="form-control" />
                <div class="small form-text text-danger">
                    <ValidationMessage For="@(() => Model.Email)" />
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="Model.Password" type="password" class="form-control" />
                <div class="small form-text text-danger">
                    <ValidationMessage For="@(() => Model.Password)" />
                </div>
            </div>
                <LoadingButton HandleClick="async () => await HandleLogin()" Loading="@Lazor.Loading">Login</LoadingButton>
            <NavLink href="register" class="btn btn-link">Register</NavLink>
        </EditForm>
    </div>
</div>


@code {
    public async Task<bool> HandleLogin()
    {
        try
        {
        var response = await Http.PostAsJsonAsync("/api/Account/Login", Model);
        
        return response.IsSuccessStatusCode;
        }
        catch
        {
            return false;
        }
    }
}
