@page "/logout"
@inject NavigationManager NavigationManager
@inject ILazor Lazor

<div class="col-12">
    <h3>Logout</h3>
</div>

<div class="card text-center">
    <div class="card-header">
        Are you sure you want to log out?
    </div>
    <div class="card-body">
            <LoadingButton Loading=@Lazor.Loading HandleClick="HandleLogout">Logout</LoadingButton>
    </div>
    <div class="card-footer">
        <a href="/">
            Return to Home
        </a>
    </div>
</div>


@code {

    public void HandleLogout()
    {
        NavigationManager.NavigateTo("login");
    }
}
