.l-modal {
    position: fixed;
    height: 80vh;
    width: 100%;
    top: 58px;
    left: 0;
    z-index: 1;
    border: solid red 1px;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

.l-hide {
    display: none !important;
}

.l-show {
    display: normal !important;
}

.l-searchResults {
    overflow-wrap: break-word;
    width: 25vh;
    border: solid black 1px;
}

.l-form {
    display: flex;
    flex-direction: row;
}

.l-search-field {
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.l-search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.l-search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
