.l-modal {
    position: fixed;
    height: 80vh;
    width: 100%;
    top: 58px;
    left: 0;
    z-index: 1;
    border: solid red 1px;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

.l-message {
    position: fixed;
    top: 40%;
    left: 10%;
    right: 10%;
    justify-items: center;
    z-index: 1;
    border: solid blue 1px;
    background-color: white;
    padding: 10px;
}

.l-hide {
    display: none !important;
}

.l-show {
    display: normal !important;
}




