@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.l-modal {
  position: fixed;
  height: 80vh;
  width: 100%;
  top: 58px;
  left: 0;
  z-index: 1;
  border: solid red 1px;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

.l-hide {
  display: none !important;
}

.l-show {
  display: normal !important;
}

.l-searchResults {
  overflow-wrap: break-word;
  width: 25vh;
  border: solid black 1px;
}

.l-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: .5rem 1.5rem .5rem 1.5rem;
  width: 100%;
  border-radius: 4rem;
  border: solid rgba(139, 138, 138, 0.26) 0.1rem;
  -webkit-box-shadow: 0.2rem 0.3rem 0.1rem 0.1rem rgba(172, 171, 171, 0.432);
          box-shadow: 0.2rem 0.3rem 0.1rem 0.1rem rgba(172, 171, 171, 0.432);
}

.l-search-field input {
  outline: none;
  border: none;
  width: 100%;
}

.l-search-field button {
  float: right;
  background: transparent;
  border: none;
  outline: none;
}

.l-search-field button img {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-search-field button:hover img {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.cookbook-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 90vh;
  margin-top: 5%;
}

.cookbook-container .create-recipe-container {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 95%;
  max-width: 60vh;
  height: auto;
  margin-top: 5%;
}

.cookbook-container .create-recipe-container .card {
  width: 100%;
  border: none;
}

.cookbook-container .create-recipe-container .card h3 {
  color: #F58B28;
}

.cookbook-container .create-recipe-container .card .card-body {
  width: 100%;
}

.cookbook-container .create-recipe-container .card .card-body .create-recipe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookbook-container .create-recipe-container .card .card-body .create-recipe-form button {
  background-color: #F58B28;
  padding: 0.5rem 2rem;
  border: none;
  margin-left: 1rem;
}

.cookbook-container .cookbook-table-container {
  border: solid green 1px;
  margin-top: 5%;
  text-align: center;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 7.5%;
  padding: 1rem;
}

.login__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 50vh;
}

.login__form {
  width: 100%;
}

.login__button {
  background-color: #F58B28;
  padding: 0.5rem 2rem;
}

.login__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
}

.login__link {
  color: #F58B28;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .login__img {
    display: none;
  }
}

.list__container {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 95%;
}

.list h3 {
  color: #F58B28;
}

.list-generator__card {
  border: none;
  -webkit-box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(92, 91, 91, 0.267);
          box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(92, 91, 91, 0.267);
  margin: 1rem 0;
  min-height: 50vh;
}

.list-generator__card .card__form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-generator__card .card__form form {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.form-submit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.submit-error__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submit-error__container span {
  text-align: center;
}

.list-generator__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.card__input {
  border: none;
  margin-left: .5rem;
  width: 3rem;
  border-bottom: solid .1rem #fff;
  font-weight: 600;
}

.card__button button {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: .5rem;
  width: 5rem;
  background-color: rgba(255, 255, 255, 0.781);
  font-weight: 600;
  border: solid #fff 1px;
  -webkit-box-shadow: 0 0.1rem 0.1em 0.1rem rgba(92, 91, 91, 0.267);
          box-shadow: 0 0.1rem 0.1em 0.1rem rgba(92, 91, 91, 0.267);
}

.card__button button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-plus button {
  color: #292727;
}

.button-plus button:hover {
  background-color: #388a38;
  color: #fff;
  -webkit-transition: ease-in all .1s;
  transition: ease-in all .1s;
  border: none;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.button-plus button:focus {
  -webkit-box-shadow: 0 0 .1rem .1rem #fff;
          box-shadow: 0 0 .1rem .1rem #fff;
}

.button-minus button {
  color: #292727;
}

.button-minus button:hover {
  background-color: #f55353;
  color: #fff;
  -webkit-transition: ease-in all .1s;
  transition: ease-in all .1s;
  border: none;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.button-list-submit button {
  color: #292727;
  border: solid #fff 1px;
  -webkit-box-shadow: 0 0.1rem 0.1em 0.1rem rgba(92, 91, 91, 0.267);
          box-shadow: 0 0.1rem 0.1em 0.1rem rgba(92, 91, 91, 0.267);
}

.button-list-submit button:hover {
  border: solid #F58B28 1px;
  color: #F58B28;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: ease-in all .1s;
  transition: ease-in all .1s;
}

.loading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.loading__container .loading {
  border: 30px solid #EAF0F6;
  border-radius: 50%;
  border-top: 30px solid #FF7A59;
  width: 300px;
  height: 300px;
  -webkit-animation: spinner 0.5s linear infinite;
          animation: spinner 0.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.searchbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (max-width: 900px) {
  .searchbar {
    width: 70vw;
  }
  .searchbar__container {
    margin-top: 15%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #fff;
  font-weight: 600;
  -webkit-box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(92, 91, 91, 0.267);
          box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(92, 91, 91, 0.267);
}

nav li:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

footer {
  border-top: solid rgba(59, 59, 59, 0.589) 1px;
  padding-left: .5rem;
}

footer a {
  color: rgba(59, 59, 59, 0.589) !important;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/*# sourceMappingURL=app.css.map */