
    <div class="card">
        <h4 class="card-header">Account Tools</h4>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-6">
                    <ChangePassword />
                </div>
                <div class="col-auto">
                    <ChangeEmail />
                </div>
            </div>
        </div>
    </div>

@code {
}
