<div class="col-6">
    <div class="card">
        <h4 class="card-header">AccountDataCard</h4>
        <div class="card-body">
            <p class="card-text">#Items in Catalog</p><br />
            <p class="card-text">#Lists</p><br />
            <p class="card-text">MemberSince</p><br />
            <p class="card-text">NumVisits</p><br />
        </div>
    </div>
</div>

@code {

}
