<div class="card">
    <h4 class="card-header">Add a Recipe</h4>
    <div class="card-body">
        <EditForm Model="@model">
            <DataAnnotationsValidator />

            <InputText @bind-Value="model.Url" class="form-control" DisplayName="Recipe URL"/>
            <button type="submit" class="btn btn-success">Add</button>
            <ValidationMessage For="@(() => model.Url)" />
        </EditForm>
    </div>
    </div>
        @code {
            RecipeURL model = new RecipeURL();

            public class RecipeURL
            {
                private int Id { get; set; }
                [Required]
                public string Url { get; set; }
            }
        }
