
<form>
    <div class="row">
        <div class="col-12">
            <label for="createRecipe">
                Add a recipe:
                <br />
                <input id="createRecipe" />
            </label>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
</form>

@code {

}
