@inject ILazor e
@inject IRecipeDTO model

<div class="card">
    <h4 class="card-header">Add a Recipe</h4>
    <div class="card-body">
        <EditForm Model="@model">
            <DataAnnotationsValidator />

            <InputText @bind-Value="model.URL" class="form-control" DisplayName="Recipe URL" />
            <button type="submit" class="btn btn-success" @onclick="e.Toggle">Add</button>
            <ValidationMessage For="@(() => model.URL)" />
        </EditForm>
    </div>

    <CascadingValue Name="LazorObject" Value="@e">
        <CascadingValue Name="RecipeDTO" Value="model">
            <Modal />
        </CascadingValue>
    </CascadingValue>

</div>
@code {

}
