<div class="form-group">
    <label for="Ingredients">Ingredients:</label>
        <ol>
            @{
                if (Model.Ingredients.Any())
                {
                    foreach (string ingredient in Model.Ingredients)
                    {
                        <li>
                            <input id="Ingredients" value="@ingredient" />
                        </li>
                    }
                }
                else
                {
                    <li class="list-unstyled">
                        <p>No ingredients found. Want to add some?</p>
                    </li>
                }
            }
                </ol>

        <div class="form-group">
            <InputText @bind-Value="@Event.NewIngredient" />
            <button type="button" class="btn btn-dark" @onclick="()=>Event.AddIngredient(Model)">Add Ingredient</button>
        </div>
</div>

@code {
    [CascadingParameter(Name = "Model")]
    public IRecipeDTO Model { get; set; }

    [CascadingParameter(Name = "Event")]
    public IEditRecipeEvent Event { get; set; }
}
