<div class="form-group">
    <label for="Instructions">
        Instructions:
        <ol>
            @{
                if (model.Instructions.Any())
                {
                    foreach (string instruction in model.Instructions)
                    {
                        <li>
                            <input id="Instructions" value="@instruction" />
                        </li>
                    }
                }
                else
                {
                    <p>No instructions found. Want to add some?</p>
                }
            }
        </ol>
        <div class="form-group">
            <InputText @bind-Value="@NewInstruction" />
            <button type="button" class="btn btn-dark" @onclick="@addInstruction">Add Instruction</button>
        </div>
    </label>
</div>

@code {
    private string NewInstruction { get; set; }

    public void addInstruction()
    {
        model.Instructions.Add(NewInstruction);
    }

}
