<div class="edit-recipe__form-group">
    <label for="Ingredients">Ingredients:
        <ol class="edit-recipe__ingredients">
            @{
                if (Model.Ingredients.Any())
                {
                    foreach (string ingredient in Model.Ingredients)
                    {
                        <li>
                            <input id="Ingredients" value="@ingredient" />
                        </li>
                    }
                }
            }
        </ol>
        @{
            if(!Model.Ingredients.Any())
            {
                <p>No ingredients found. Add some below!</p>
            }
        }
        <div class="edit-recipe__add-element add-ingredient">
            <InputText @bind-Value="@Event.NewIngredient" />
            <button type="button" class="btn" @onclick="()=>Event.AddIngredient(Model)">+Ingredient</button>
        </div>
    </label>
</div>

@code {
    [CascadingParameter(Name = "Model")]
    public IRecipeDTO Model { get; set; }

    [CascadingParameter(Name = "Event")]
    public IEditRecipeEvent Event { get; set; }
}
