<div class="edit-recipe__form-group">
    <label for="Ingredients">Ingredients:</label>
        <ol>
            @{
                if (Model.Ingredients.Any())
                {
                    foreach (string ingredient in Model.Ingredients)
                    {
                        <li>
                            <input id="Ingredients" value="@ingredient" />
                        </li>
                    }
                }
                else
                {
                    <li style="list-style-type:none">No ingredients found. Want to add some?</li>
                }
            }
                </ol>
        <div class="edit-recipe__add-element add-ingredient">
            <InputText @bind-Value="@Event.NewIngredient" />
            <button type="button" class="btn" @onclick="()=>Event.AddIngredient(Model)">+Ingredient</button>
        </div>
</div>

@code {
    [CascadingParameter(Name = "Model")]
    public IRecipeDTO Model { get; set; }

    [CascadingParameter(Name = "Event")]
    public IEditRecipeEvent Event { get; set; }
}
