<div class="form-group">
        <label for="Instructions">Instructions:</label>
        <ol>
            @{
                if (Model.Instructions.Any())
                {

                    foreach (string instruction in Model.Instructions)
                    {
                        <li>
                            <input id="Instructions" value="@instruction" />
                        </li>
                    }
                }
                else
                {
                    <li class="list-unstyled">
                        <p>No instructions found. Want to add some?</p>
                    </li>
                }
             }
         </ol>
        <div class="form-group">
            <InputText @bind-Value="@Event.NewInstruction" />
            <button type="button" class="btn btn-dark" @onclick="()=>Event.AddInstruction(Model)">Add Instruction</button>
        </div>
</div>

@code {
    [CascadingParameter(Name = "Model")]
    public IRecipeDTO Model { get; set; }

    [CascadingParameter(Name = "Event")]
    public IEditRecipeEvent Event { get; set; }
}
