<div class="form-group">
        <label for="Instructions">Instructions:</label>
        <ol>
            @{
                if (model.Instructions.Any())
                {

                    foreach (string instruction in model.Instructions)
                    {
                        <li>
                            <input id="Instructions" value="@instruction" />
                        </li>
                    }
                }
                else
                {
                    <li class="list-unstyled">
                        <p>No instructions found. Want to add some?</p>
                    </li>
                }
             }
         </ol>
        <div class="form-group">
            <InputText @bind-Value="@model.NewInstruction" />
            <button type="button" class="btn btn-dark" @onclick="@model.addInstruction">Add Instruction</button>
        </div>
</div>

@code {
    [CascadingParameter(Name = "RecipeDTO")]
    public IRecipeDTO model { get; set; }
}
