<div class="edit-recipe__form-group"> 
    <label for="Instructions">Instructions:
        <ol class="edit-recipe__instructions">
            @{
                if (Model.Instructions.Any())
                {

                    foreach (string instruction in Model.Instructions)
                    {
                        <li>
                            <input id="Instructions" value="@instruction" />
                        </li>
                    }
                }
                else
                {
                    <li class="edit-recipe__list-none">No instructions found. Add some below!</li>
                }
            }
        </ol>
        <div class="edit-recipe__add-element add-instruction">
            <InputText @bind-Value="@Event.NewInstruction" />
            <button type="button" class="add-element__btn" @onclick="()=>Event.AddInstruction(Model)">+Instruction</button>
        </div>
    </label>
</div>

@code {
    [CascadingParameter(Name = "Model")]
    public IRecipeDTO Model { get; set; }

    [CascadingParameter(Name = "Event")]
    public IEditRecipeEvent Event { get; set; }
}
