<div class="edit-recipe__form-group"> 
        <label for="Instructions">Instructions:</label>
        <ol>
            @{
                if (Model.Instructions.Any())
                {

                    foreach (string instruction in Model.Instructions)
                    {
                        <li>
                            <input id="Instructions" value="@instruction" />
                        </li>
                    }
                }
                else
                {
                    <li style="list-style-type:none">No instructions found. Want to add some?</li>
                }
             }
         </ol>
        <div class="edit-recipe__add-element add-instruction">
            <InputText @bind-Value="@Event.NewInstruction" />
            <button type="button" class="btn" @onclick="()=>Event.AddInstruction(Model)">+Instruction</button>
        </div>
</div>

@code {
    [CascadingParameter(Name = "Model")]
    public IRecipeDTO Model { get; set; }

    [CascadingParameter(Name = "Event")]
    public IEditRecipeEvent Event { get; set; }
}
