<div class="card">
    <h4 class="card-header">
        Generate List
        <br />
        <label>Days:</label>
        <button class="btn btn-success" @onclick="model.HandleUp">+</button>
        <button class="btn btn-danger" @onclick="model.HandleDown">(-)</button>
        <EditForm Model="model">
            <DataAnnotationsValidator />
            <InputNumber @bind-Value=@model.Days />
        </EditForm>
        <span class="small form-text text-danger">@model.errorMessage</span>
    </h4>
    <div class="card-body">
        <div class="row">
            @{
                for (int day = 0; day <= model.Days; day++)
                {
                    if (day>0)
                {
                    <ListGenCard/>
                }
                }
            }
        </div>
    </div>
</div>

@code {
    ListGeneratorModel model = new ListGeneratorModel();
    public class ListGeneratorModel
    {
        [Range(0,7,ErrorMessage ="Days cannot exceed 7.")]
        public int Days { get; set; } = 0;

        public string errorMessage { get; set; }

        public void HandleUp()
        {
            errorMessage = "";
            if (Days >=7)
            {
                errorMessage = "Max 7 Days";
            }
            else
            {
                Days += 1;
            }

        }
        public void HandleDown()
        {
            errorMessage = "";
            if (Days <= 0)
            {
                errorMessage = "Min 0 Days";
            }
            else
            {
                Days -= 1;
            }
        }
    }


}
