@inject IListGeneratorEvent Event

<div class="card list__card">
 
    <div class="card__form">
        <div class="form-submit__container">
            <EditForm Model="Event.ListGeneratorDTO">
                <DataAnnotationsValidator />
                <h4>Meal plan days: 
                <InputNumber disabled=true class="card__input" @bind-Value=@Event.ListGeneratorDTO.Days />
                </h4>
            </EditForm>
            <div class="submit__container">
                <div class="card__button button-list-submit">
                    <LoadingButton Loading=@Event.Lazor.Loading HandleClick="async()=> await HandleClick()">
                        Save Plan
                    </LoadingButton>
                </div>
            </div>
        </div>
   
        <div class="list-generator__buttons">
            <CascadingValue Name="Loading" Value="@Event.Lazor.Loading">
                <div class="card__button button-plus"><LoadingButton HandleClick="async () => await HandleAdd()">+1 Day</LoadingButton></div>
                <div class="card__button button-minus"><LoadingButton HandleClick="() => Event.RemoveDay()">-1 Day</LoadingButton></div>
            </CascadingValue>
        </div>
    </div>

   <div class="list-error">
        <span>@Event.Lazor.ErrorMessage</span>
    </div>
    <div class="card-body">
        <div class="row">

            @{
                if (Event.Lazor.IsSuccess)
                {
                    <h4 class="text-center text-success">Success!</h4>
                    <button type="button" @onclick="()=>Event.Lazor.SetSuccessStatus(false)" class="btn btn-danger float-right">&times;</button>
                }
                else
                {

                    foreach (var day in Event.ListGeneratorDTO.GeneratedDays)
                    {
                        <CascadingValue Name="GeneratedDay" Value="day">
                            <GeneratedDay />
                        </CascadingValue>
                    }
                }
            }

        </div>
    </div>
</div>

@code {
    // This was added because the UI was -1 behind the current days count. This call will re-render the component to display the current value of days.
    public async Task HandleAdd()
    {
        await Event.AddDay();
        StateHasChanged();
    }
    // The component needed to be re-rendered or the Loading button would not change state on the UI.
    public async Task HandleClick()
    {
        await Event.SubmitList();
        StateHasChanged();
    }
}


