@inject IListGeneratorDTO model

<div class="card">
    <h4 class="card-header">
        Generate List
        <br />
        <label>Days:</label>
        <button class="btn btn-success" @onclick="model.AddDay">+</button>
        <button class="btn btn-danger" @onclick="model.RemoveDay">(-)</button>
        <EditForm Model="model">
            <DataAnnotationsValidator />
            <InputNumber @bind-Value=@model.Days />
        </EditForm>
        <span class="small form-text text-danger">@model.ErrorMessage</span>
    </h4>
    <div class="card-body">
        <div class="row">
            @{
                for (int day = 0; day <= model.Days; day++)
                {
                    if (day > 0)
                    {
                        <ListGenCard />
                    }
                }
            }
        </div>
        <CascadingValue Name="loading" Value="@model.Loading">
            <LoadingButton>Submit</LoadingButton>
        </CascadingValue>
    </div>
</div>

@code {

}


