<div class="col">
    <div class="card">
        <h4 class="card-header">DayCard</h4>
        <div class="card-body">
            <p class="card-text">Date</p><br />
            <p class="card-text">Breakfast</p><br />
            <p class="card-text">Lunch</p><br />
            <p class="card-text">Dinner</p><br />
        </div>
    </div>
</div>
    @code {

    }
