<button disabled="@loading" class="btn btn-success" type="submit" @onclick="handleClick">
    @if (loading)
    {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
    @ChildContent
</button>

@code {
    [CascadingParameter(Name = "loading")]
    private bool loading { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action handleClick { get; set; }
}
