<button disabled="@Loading" class="btn btn-success" type="submit" @onclick="HandleClick">
    @if (Loading)
    {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
    @ChildContent
</button>

@code {

    [Parameter]
    public bool Loading { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action HandleClick { get; set; }

}
