@using System.Text.RegularExpressions
@inject ILazor Lazor
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

@{ 
    string pattern = $"^[\\w]+";
    var regex = new Regex(pattern); 
}

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="cookbook">
                    Cookbook
                </NavLink>
            </li> 
            <li class="nav-item">
                <NavLink class="nav-link" href="lists">
                    Meal Plans
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="authentication/profile">@regex.Match(context.User.Identity.Name).Value</NavLink>
            </li>
            <li class="nav-item logout">
                <button id="logout" class="nav-link btn btn-link" @onclick="BeginSignOut">
                    <span>Logout</span>
                </button>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="authentication/register">Register</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="authentication/login">Login</NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>


@code { private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    } }


