
<ul class="navbar-nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="catalog">
            Catalog
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="lists">
            Lists
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="account">
            Account
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="login" style=@login>
            Login
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="logout" style=@logout>
            Logout
        </NavLink>
    </li>
</ul>

@code {
    private static bool isLoggedIn { get; set; } = true;
    private string login { get; set; } = $"{ (isLoggedIn ? "display:none" : "display:normal") }";
    private string logout { get; set; } = $"{ (isLoggedIn ? "display:normal" : "display:none") }";


}
