
<ul class="navbar-nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="catalog">
            Catalog
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="lists">
            Lists
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="account">
            Account
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="login">
            Login
        </NavLink>
    </li>
</ul>

@code {

}
