@inject ISearchBarEvent Event

<div>
    <form class="l-form" @onsubmit="Event.HandleClick">
        <input class="l-search-field" @bind-value="Event.SearchText"
               @bind-value:event="oninput" @onkeypress="Event.HandleKeyPress" placeholder="Search Recipes" />
        <button type="submit" class="l-search-button">
            <img src="search.png">
        </button>
    </form>
    @{
        if (!string.IsNullOrEmpty(Event.SearchText))
        {
            <div class="position-fixed">
                <ul class="bg-white l-searchResults list-unstyled">
                    @{
                        @foreach (var recipe in Event.RecipesFound)
                        {
                            <li>
                                <a>
                                    @recipe.Title
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>


@code {

}
