<div class="@Event.Lazor.ToggleTarget">
    <div class="l-modal">
        <div class="card">

            <div class="card-header">
                <h4>Search Results</h4>
                <button type="button" @onclick="(() => Event.Lazor.Toggle())" class="btn btn-danger float-right">&times;</button>
            </div>
            @{ 
                if (Event.SearchResults.Any())
                {
                    <div class="card-body">
                        <CascadingValue Name="SearchResults" Value="Event.SearchResults">
                            <CookbookTable IsSearchResults="true" />
                        </CascadingValue>
                    </div>
                }
                else
                {
                    <p>No recipes found.</p>
                }
            }

        </div>
    </div>
</div>

@code {

    [CascadingParameter(Name = "SearchBarEvent")]
    public ISearchBarEvent Event { get; set; }
}
