@inherits LayoutComponentBase

    <div class="container-fluid">

            <NavMenu />

        <div class="row justify-content-center">
            @Body
        </div>

        <footer class="fixed-bottom">  
            <a href="">Dan G - 2021</a>
        </footer>

    </div>
