@inherits LayoutComponentBase

<div class="container-fluid">

    <NavMenu />
    
        <div class="row justify-content-center">
            @Body
        </div>

        <footer class="fixed-bottom bg-white">
            <a href="">@DateTime.Now.Year - Dan Groleau </a>
        </footer>

    </div>
