@inherits LayoutComponentBase

<div class="container-fluid main-Layout">

    <div class="row">
        <NavMenu />
    </div>


    <div class="row">
        @Body
    </div>
    
    <div class="row">
        <a href="">Dan G - 2021</a>
    </div>

</div>
