<div class="container-fluid">
    <div class="row">
        <a class="col-5" href="">Component-Based Architecture</a>
        <button class="" @onclick="ToggleNavMenu">
            <span class="col"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass">
        <ul class="row">
            <li class="col">
                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="col">
                <NavLink class="" href="catalog">
                    <span class="" aria-hidden="true"></span> Catalog
                </NavLink>
            </li>
            <li class="col">
                <NavLink class="" href="lists">
                    <span class="" aria-hidden="true"></span> Lists
                </NavLink>
            </li>
            <li class="col">
                <NavLink class="" href="account">
                    <span class="" aria-hidden="true"></span> Account
                </NavLink>
            </li>
            <li class="col">
                <NavLink class="" href="login">
                    <span class="" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        </ul>
    </div>
</div>
@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
